<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Cases" verbose="1">

    <test name="Verify admin able to search customer">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test.TestLogin"/>
        </classes>
    </test>

    <test name="Verify admin to view order">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test.TestOrder"/>
        </classes>
    </test>

    <test name="Verify admin is able to view GiftsCards">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test.TestGiftCards"/>
        </classes>
    </test>

    <test name="Verify admin is able to check the system information">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test.TestSystemInformation"/>
        </classes>
    </test>

    <test name="Verify admin is able to add and verify templates">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test.VerifyTemplates"/>
        </classes>
    </test>

    <test name="Verify admin is able to check list">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test.TestVerifyMenuList"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="Reports.Listners"/>
    </listeners>
</suite>